.header {   
    max-height: 800px;
    background-image: url(../../images/main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header__table{
    margin: 0 70px 0;
    padding-top: 30px;
    max-width: 1300px;
    display: flex;      
    flex-direction: column;
    position: relative;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.header__logo {
    margin: 0;
    cursor: pointer;
}
.nav__text {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px; 
    color: #FFFFFF;
}
.nav__btns {
    display: flex;
    align-items: center;
}
.nav__btn {
    border: none;
    cursor: pointer;
    width: 290px;
    height: 55px;  
    background: #FFFFFF;
    backdrop-filter: blur(2.25838px); 
    border-radius: 10px;
    color: #FF6C6C;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    padding-left: 25px;
}
.nav__btn:nth-child(1) {
    margin-right: -40px;
    
    width: 234px;
    padding-left: 0;
}
.nav__btn:nth-child(2){
    
    color: #FFFFFF;
    background: linear-gradient(160.35deg, #FF6C6C 13.85%, #EF5C5C 87.62%);
    backdrop-filter: blur(2.25838px);
}
.nav__button_entry {
    font-weight: 800;
    font-size: 18px;
    line-height: 150.52%; 
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
}
.header__subtitle {
    font-weight: 700;
    font-size: 66px;
    line-height: 150.52%; 
    text-transform: uppercase; 
    color: #FFFFFF;
    margin: 0;
}
.header__title {
    font-weight: 700;
    font-size: 88px;
    line-height: 150.52%; 
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}
.header__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 150.52%;
    color: #FFFFFF;
    margin: 0;
    max-width: 529px;
    margin-bottom: 63px;
}
.header__conteiner {
    height: 110px;
    width: 492px;
    display: flex;
    align-items: center;
    margin-left: -162px;
    border: 2px solid #FF6C6C; 
    border-radius: 10px;
    margin-bottom: 135px;
}
.header__button_send {
    width: 310px;
    height: 70px;     
    background: linear-gradient(160.35deg, #FF6C6C 13.85%, #EF5C5C 87.62%);
    border-radius: 10px;
    border: none;
    font-size: 18px;
    line-height: 22px; 
    text-align: center;
    color: #FFFFFF;
    margin-left: 162px;
    cursor: pointer;
}
.nav__btns_link {
    z-index: 2;
}
.header_curator {
    background-color: #F6F7FF;
    background-image: none;
    position: relative;
     

}

.header_img_curator {
    position: absolute;
    right: -70px;
    top: 140px;
    z-index: 2;
}
.nav__btn_curator {
    border: 2px solid #EF5C5C;
}
.nav__button_entry_curator{
    color: #FF6C6C;

}
.header__subtitle_curator {
    color: #292929;
}
 
.header__title_curator {
    color: #292929;
}
 
.header__text_curator {
    color: #292929;
}
 
.header__conteiner_curator {
}
 
.header__button_send_curator {
}
@media (min-width:1440px) {
    .header__table {   
        margin-left: auto;
        margin-right: auto;
    } 
    .header__conteiner {
        margin-left: calc(70px - 100vw);
        padding-left: calc(100vw - 70px);
        width: 330px;
    }
    .header__button_send {
        margin-left: 0;
    }
    .header_img_curator {
        right: -60px;
    }
     
     
 }
 @media (max-width:1400px) {
    .header_img_curator{
        width: 50vw;
        height: 70vw;
        object-fit: contain;
    }
}
 @media (max-width:1300px) {
     .header__table {
        margin: 0 4vw 0;
        padding-top: 20px;
     }
     .header_img_curator {
         right: -4vw;
         width: 45vw;
     }
 }
 @media (max-width:1250px) {
     .header__box{
         display: none;
     }
     .header__logo {
         width: 180px;
         height: 72px;
     }
     .header__nav {
         margin-bottom: 48px;
     }
    }
    @media (max-width:1000px) {
        .header {
            background-position:70%;
        }
        .header__title {
            font-weight: 700;
            font-size: 58px;
            line-height: 150.52%;
        }
        .header__subtitle {
            font-weight: 700;
            font-size: 45px;
            line-height: 150.52%;
        }
        .header__text{
            font-weight: 400;
            font-size: 25px;
            line-height: 150.52%;
        }

    }
    @media (max-width:800px) {
        .header {
            max-height: 128vw;
        }
        .header__logo {
            width: 36vw;
            height: 14.4vw;
        }
        .header__title {
            font-weight: 700;
            font-size: 9vw;
            line-height: 150.52%;
        }
        .header__subtitle {
            font-weight: 700;
            font-size: 7vw;
            line-height: 150.52%;
        }
        .header__text{
            font-weight: 400;
            font-size: 5vw;
            line-height: 150.52%;
            margin-top: 4vw;
            margin-bottom: 10vw;
        }
        .header__conteiner {
            height: 17vw;
            width: 93vw;
            margin-left: -30vw;
}
        .header__button_send {
            width: 60vw;
            font-size: 4vw;
            line-height: 4vw;
            height: 11vw;
            margin-left: 30vw;
            border-radius: 2vw;
            -webkit-border-radius: 2vw;
            -moz-border-radius: 2vw;
            -ms-border-radius: 2vw;
            -o-border-radius: 2vw;
}

.header__text_curator {
    width: 47vw;
}
.header_img_curator {
    top: 30vw;
}
    }
    @media (max-width:500px) {
        .header_curator {
            max-height: 200vw;
        }
        .header__conteiner_curator {
            margin-top: 46vw;
            margin-bottom: 16vw;
        }
        .header_img_curator {
            top: auto;
            bottom: 15vw;
            width: 70vw;
            height: 100vw;
        }
    }

  