.banner {
    max-width: 1080px;
    background: #FFFFFF;
    border: 3px solid #FF6C6C;
    backdrop-filter: blur(2.5px); 
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 110px 54px;
    position: relative;
    margin-bottom: -150px;
}
.banner_title {
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 150.52%;
    text-transform: uppercase;
    color: #FF6C6C;
    margin: 0;
    position: relative;
    letter-spacing: -0.03em;
}
.banner_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 150.52%; 
    text-transform: uppercase;
    color: #FF6C6C;
}
.banner_btn {
    width: 310px;
    height: 70px;
    background: linear-gradient(160.35deg, #FF6C6C 13.85%, #EF5C5C 87.62%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.banner_line1 {
    position: absolute;
    bottom: -30px;
    right: 40px;
}
.banner_line2 {
    position: absolute;
    bottom: 45px;
    right: 450px;
}
.banner_line3{
    display: none;
}
@media (max-width:1350px){
    .banner_box{
        flex-direction: column;
    }
    .banner {
        margin-left: 70px;
        margin-right: 70px;
    }
}
@media (max-width:1350px){
    .banner {
        padding: 40px 20px 60px;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    .banner_title{
        text-align: center;
    }
    .banner_btn{
        align-self: flex-end;
    }
    .banner_subtitle{
        margin-bottom: 60px;
    }
    .banner_line1 {
        position: absolute;
        bottom: -180px;
        left: 60%;
    }
    .banner_line2 {
        width: 50%;
        height: 25%;
        bottom: 79px;
        left: 25%;
        rotate: 54deg;
    }
}

@media (max-width:1000px){
    .banner_title{
        font-size: 40px;
    }
    .banner_subtitle{
        font-size: 60px;

    }
    .banner_line1{
        bottom: -150px;
    }
     
}
@media (max-width:900px){
    .banner_line1{
         
    }
    .banner_line2{
        display: none;
    }
    .banner_box{
        position: relative;
    }
    .banner_line3 {
        display: block;
        position: absolute;
         
        height: 42%;
        bottom: 25px;
        right: 300px;
        rotate: 54deg;
    }
}
@media (max-width:800px){
    .banner{
        width: 78vw;
        height: 41vw;
        padding: 8vw 4vw 12vw;
        border-radius: 4vw;
        -webkit-border-radius: 4vw;
        -moz-border-radius: 4vw;
        -ms-border-radius: 4vw;
        -o-border-radius: 4vw;
}
    .banner_title{
        font-size: 5vw;
    }
    .banner_subtitle{
        font-size: 11vw;
        margin-bottom: 10vw;
    }
    .banner_line1{
        bottom: -25vw;
    }
}
 
@media (max-width:650px){
    .banner {
        width: 75vw;
    }
    .banner_btn{
        width: 60vw;
        height: 12vw;
        font-size: 3vw;
    }
    .banner {
        margin-left: auto;
        margin-right: auto;
    }
    .banner_line3 {
        height: 15vw;
        bottom: 5vw;
        right: 60vw
    }
    .banner_line1 {
        left: 30vw;
        bottom: -27vw;
        height: 15vw;
    }
}
@media (max-width:550px){
    .banner {
        height: 36vw;
    }

}