.header__list_burger {
    display: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.header__box_burger {
    padding: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.burger .nav__text {
    width: 289px;
    text-align: center;
}
.burger {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #292929;    
    opacity: 0;
    visibility: hidden;
    z-index: 999;    
    flex-direction: column;
    gap: 40px;
    
    
}
.open {
    -webkit-animation: openPopup .3s linear;
            animation: openPopup .3s linear;
    display: flex;
    visibility: visible;     
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    
    
}
.close {
    -webkit-animation: closePopup .7s linear;
            animation: closePopup .7s linear;
}
@-webkit-keyframes openPopup {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@keyframes openPopup {
    0% { opacity: 0; }
    100% { opacity: 1; }
  } 
  @-webkit-keyframes closePopup {
    0% { opacity: 1; }
    100% { opacity: 0; }
  } 
  @keyframes closePopup {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
 
.burger_btn_close {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 38px;
     
}
@media (max-width:1250px) { 
    .header__list_burger {
        display: block;
    }
}
 