.comment {
    background-color: #F4F7FF;
    padding: 132px 0 132px;
}
.comment__title {
    margin: 0;
    margin-bottom: 41px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 150.52%;
    text-transform: uppercase;
    color: #292929;
}
.comment__box {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.comment__card {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
@media (max-width:1300px) {
    .comment {
        padding: 230px 4vw 74px;

    }
    .comment__box {
        flex-wrap: wrap;
    }
 }
 @media (max-width:1300px) {
    .comment__title{
        font-weight: 700;
        font-size: 38px;
        line-height: 150.52%;
    } 
    .comment {
        padding-left: 0;
        padding-right: 0;
    }
 }
 @media (max-width:650px) {
    .comment {
        padding: 46vw 4vw 17vw;

    }
    .comment__box {
        flex-wrap: wrap;
        gap: 4vw;
    }
  .comment__card {
      width: 38vw;
      height: 38vw;
  }
  .comment__card img {
      max-width: 35vw;
      height: 18vw;
      object-fit: contain;
  }
 
    .comment__title{
        font-weight: 700;
        font-size: 8vw;
        line-height: 150.52%;
        margin-bottom: 8vw;
    } 
}
 