.root {
    background-color:#292929;;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;       
    margin: 0 auto;
    color: #fff;
    /* max-width: 1920px; */
    position:relative;
    }
      
         
     
     
   