.root {
    background-color:#292929;;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;       
    margin: 0 auto;
    color: #fff;     
    position:relative;
    
     
    }
@media (max-width:1440px) {
        header, section, footer {
            width: 1440px;
            padding-left: 0;
            padding-right: 0;
        } 
        .root {
            width:fit-content;
            overflow-x: scroll;
            
        }
         
     }     
  
 @media (max-width:800px) {
    header, section, footer {
        width: auto;
    } 
    .root {
        overflow-x: auto;
        width: auto;
    }
 }      
     
     
   