.root {
    background-color:#292929;;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;       
    margin: 0 auto;
    color: #fff;     
    position:relative;
     
    }
@media (max-width:1300px) {
        header, section, footer {
            width: 1440px;
        } 
     }     
  
 @media (max-width:800px) {
    header, section, footer {
        width: auto;
    } 
 }      
     
     
   