.finder {
    height: 1080px;
    background-color: #F4F7FF;
    overflow-x: hidden;
   
}
.finder__conteiner {
   padding-top: 320px;
   
   display: flex;
   margin: 0 70px 0;
   max-width: 1300px;
}
.finder__title {
    color:#292929;
    font-weight: 900;
    font-size: 66px;
    line-height: 150.52%;
    text-transform: uppercase;
    margin: 0;
}
.finder__subtitle {
    color:#fff;
    height: 105px;
    font-weight: 900;
    font-size: 66px;
    line-height: 150.52%;
    background-color: #FF6C6C;
    margin: 0;
    margin-left: -70px;
    margin-right: 70px;
    padding-left: 70px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.finder__box {
    width: 40%;
    
}
.finder__img {
    max-height: 80vw;
}
.finder__box:nth-child(1){
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.finder__text {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150.52%;
    color: #292929;
    max-width: 640px;
}
.finder__line {
    position: absolute;
    bottom: 0;
    right: 200px;
}
@media (min-width:1440px) {
    .finder__conteiner {   
        margin-left: auto;
        margin-right: auto;
    } 
    .finder__subtitle {
        margin-left: calc(70px - 100vw);
        padding-left: calc(100vw - 70px);
    }
     
 }
 @media (max-width:1300px) { 
     .finder{
         height: auto;
     }
     .finder__line {
         display: none;
     }
     .finder__conteiner{
         flex-direction: column;
         margin: 0 4vw 0;
         padding-bottom: 10vw;
     }
     .finder__subtitle{
         width: fit-content;
         padding-right: 80px;
     }
     .finder__text{
        font-size: 28px;
        line-height: 150.52%;
        margin-top: 7px;
        margin-bottom: 10vw;
    }
 }
 @media (max-width:1300px){
     .finder__box:nth-child(1) {
         width: auto;
     }
     .finder__box:nth-child(2){
         width: auto;
         margin-left: 20vw;
         
          
     }
 }
 @media (max-width:1050px){
     
     .finder__title{
        font-size: 50px;
     }
     .finder__subtitle{
        font-size: 50px;
        padding-right: 15px;
     }
 }
 @media (max-width:1050px){
     
    .finder__title{
        font-size: 38px;
        line-height: 150%;
    }
    .finder__subtitle{
        font-size: 38px;
        line-height: 150%;
        height: auto;
        
    }
    .finder__text{
        font-size: 28px;
        line-height: 150.52%;
        margin-top: 7px;
        margin-bottom: 10vw;
    }
    .finder__img {
        max-height: 410px;
    }
}
@media (max-width:800px){
     
    .finder__conteiner {
        padding-top: 50vw;
    }
    .finder__title{
        font-size: 7vw;
        line-height: 150%;
    }
    .finder__subtitle{
        font-size: 7vw;
        line-height: 150%;
        height: auto;
        
    }
    .finder__text{
        font-size: 5vw;
        line-height: 150.52%;
        margin-top: 3vw;
        margin-bottom: 10vw;
        width: 75vw;
    }
    .finder__img {
        max-height: 80vw;
    }
    .finder__box:nth-child(2){
        width: auto;
        margin-left: 10vw;
        
         
    }
}
@media (max-width:550px){
.finder {
    padding-top: 12vw;
}
.finder__subtitle {
    font-size: 7.3vw;
}
.finder__conteiner {
    padding-top: 34vw;
}
.finder__text{
    font-size: 5vw;
    line-height: 150.52%;
    margin-top: 7vw;
    margin-bottom: 10vw;
    width: 74vw;
}
.finder__img {
     max-width: 80vw;
}
}