.takein {
    background-color: #F6F7FF;
}
.takein__top_line {
    border-top: 3px solid #292929;
    width: 50%;
}
.takein__box {
    padding-bottom: 107px;
    max-width: 1300px;
    margin: 0 70px 0;
}
.takein__title {
    margin: 0;
    margin-top: 42px;
    margin-bottom: 53px;
    font-weight: 700;
    font-size: 88px;
    line-height: 132px;
    text-transform: uppercase;
    color: #292929;
}
.takein__box_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
   
}
.takein__text {
    margin: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #292929;
    max-width: 770px;
}
.takein__btn {
    width: 310px;
    height: 70px;
    background: linear-gradient(160.35deg, #FF6C6C 13.85%, #EF5C5C 87.62%);
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: none;
    cursor: pointer;
}
@media (min-width:1440px) {
    .takein__box {   
        margin-left: auto;
        margin-right: auto;
    } 
     
 }
 @media (max-width:1300px) {
    .takein__box { 
        margin: 0 4vw 0;
    }
 }

 @media (max-width:800px) {
     .takein__box {
        padding-bottom: 100px;
     }
     .takein__title{
        font-size: 9vw;
        line-height: 150.52%;
        margin-top: 40px;
        margin-bottom: 75px;
    }
    .takein__text{
        font-size: 4vw;
        line-height: 6vw;
        margin-bottom: 57px;
    }
    .takein__box_card {
        flex-direction: column;

    }
    .takein__btn {
        width: 60vw;
        height: 11vw;
        border-radius: 2vw;
        font-size: 4vw;
        -webkit-border-radius: 2vw;
        -moz-border-radius: 2vw;
        -ms-border-radius: 2vw;
        -o-border-radius: 2vw;
}
 }
 @media (max-width:500px) {
    .takein__box {
       padding-bottom: 100px;
    }
    .takein__title{
       font-size: 11vw;
       line-height: 150.52%;
       margin-top: 40px;
       margin-bottom: 75px;
   }
   .takein__text{
       font-size: 6vw;
       line-height: 8vw;
       margin-bottom: 57px;
   }
   .takein__box_card {
       flex-direction: column;

   }
   .takein__btn {
       width: 60vw;
       height: 11vw;
       border-radius: 2vw;
       font-size: 4vw;
       -webkit-border-radius: 2vw;
       -moz-border-radius: 2vw;
       -ms-border-radius: 2vw;
       -o-border-radius: 2vw;
}
}